@page
@model Restaurants.ListModel
@{
}
<h1>Welcome to restaurants</h1>



<form method="get">
    <div class="input-group col-md-4">
        <input class="form-control py-2" type="search"
               asp-for="SearchTerm">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>

<p>List of all the available restaurants:</p>

@foreach (var r in Model.Restaurants)
{
    <partial name="_Summary" model="r" />
}

<a asp-page="./Edit" class="btn btn-primary">Add new</a>

@section footer {
    <p>@Model.MyPropString</p>
}